<div class="col-12 col-md-4 col-lg-3">
    <div class="shop_sidebar_area">

        <div class="widget catagory mb-50">
            <!--  Side Nav  -->
            <div class="nav-side-menu">
                <h6 class="mb-0">Catagories</h6>
                <div class="menu-list">
                    <ul id="menu-content2" class="menu-content collapse out">
                        <!-- Single Item -->
                        <li data-toggle="collapse" data-target="#women2">
                            <a href="#">Woman wear</a>
                            <ul class="sub-menu collapse show" id="women2">
                                <li><a href="#">Midi Dresses</a></li>
                                <li><a href="#">Maxi Dresses</a></li>
                                <li><a href="#">Prom Dresses</a></li>
                                <li><a href="#">Little Black Dresses</a></li>
                                <li><a href="#">Mini Dresses</a></li>
                            </ul>
                        </li>
                        <!-- Single Item -->
                        <li data-toggle="collapse" data-target="#man2" class="collapsed">
                            <a href="#">Man Wear</a>
                            <ul class="sub-menu collapse" id="man2">
                                <li><a href="#">Man Dresses</a></li>
                                <li><a href="#">Man Black Dresses</a></li>
                                <li><a href="#">Man Mini Dresses</a></li>
                            </ul>
                        </li>
                        <!-- Single Item -->
                        <li data-toggle="collapse" data-target="#kids2" class="collapsed">
                            <a href="#">Children</a>
                            <ul class="sub-menu collapse" id="kids2">
                                <li><a href="#">Children Dresses</a></li>
                                <li><a href="#">Mini Dresses</a></li>
                            </ul>
                        </li>
                        <!-- Single Item -->
                        <li data-toggle="collapse" data-target="#bags2" class="collapsed">
                            <a href="#">Bags &amp; Purses</a>
                            <ul class="sub-menu collapse" id="bags2">
                                <li><a href="#">Bags</a></li>
                                <li><a href="#">Purses</a></li>
                            </ul>
                        </li>
                        <!-- Single Item -->
                        <li data-toggle="collapse" data-target="#eyewear2" class="collapsed">
                            <a href="#">Eyewear</a>
                            <ul class="sub-menu collapse" id="eyewear2">
                                <li><a href="#">Eyewear Style 1</a></li>
                                <li><a href="#">Eyewear Style 2</a></li>
                                <li><a href="#">Eyewear Style 3</a></li>
                            </ul>
                        </li>
                        <!-- Single Item -->
                        <li data-toggle="collapse" data-target="#footwear2" class="collapsed">
                            <a href="#">Footwear</a>
                            <ul class="sub-menu collapse" id="footwear2">
                                <li><a href="#">Footwear 1</a></li>
                                <li><a href="#">Footwear 2</a></li>
                                <li><a href="#">Footwear 3</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="widget price mb-50">
            <h6 class="widget-title mb-30">Filter by Price</h6>
            <div class="widget-desc">
                <div class="slider-range">
                    <input id="minprice"
                           style="margin-top: 5px" class="filter-min-range form-control" type="number" name="Min-Price"
                           placeholder="Min-Price">
                    <input id="maxprice"
                           style="margin-top: 5px" class="filter-max-range form-control" type="number" name="Max-Price"
                           placeholder="Max-Price">
                    <input onclick="range(document.getElementById('minprice').value,document.getElementById('maxprice').value)"
                           style="margin-top: 5px" class="form-control btn btn-primary" value="Submit" type="submit">
                </div>
            </div>
        </div>


        <div class="widget size mb-50">
            <h6 class="widget-title mb-30">Filter by Size</h6>
            <div class="widget-desc">
                <ul class="justify-content-between">
                    {% for size in sizes %}
                        <button class="btn filter-button " style="margin-left: 5px;margin-top: 5px"
                                data-filter="{{ size.size }}">{{ size.size }}</button>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="widget recommended">
            <h6 class="widget-title mb-30">Recommended</h6>

            <div class="widget-desc">
                <!-- Single Recommended Product -->
                {% for item in items %}
                    <a href="{{ item.get_absolute_url }}">
                        <div class="single-recommended-product d-flex mb-30">
                            <div class="single-recommended-thumb mr-3">
                                <img src="{{ item.image1.url }}" alt="{{ item.title }}">
                            </div>
                            <div class="single-recommended-desc">
                                <h6>{{ item.title }}</h6>
                                {% if item.off_percentage %}
                                    <p><strike>$ {{ item.price }}</strike> | {{ item.off_percentage }}% OFF</p>
                                {% else %}
                                    <p>$ {{ item.price }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>